Assignment

In [4]:
#Q1

def takeSecond(elem):
    return elem[1]

List = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
List.sort(key = takeSecond)

print(List)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [6]:
#Q2

List = list(range(1,11))

print([x ** 2 for x in List])

f1 = lambda li : [x**2 for x in li]
print(f1(List))

f2 = lambda x: x**2
print(list(map(f2, List)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#Q3

List = list(range(1,11))

print(tuple([str(x) for x in List]))

f = lambda x: str(x)

print(tuple(map(f, List)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [9]:
#Q4
from functools import reduce

List = list(range(1,26))

print(reduce(lambda x,y: x*y, List))

15511210043330985984000000

In [11]:
#Q5

List = [int(x) for x in input("ENTER the list of numbers: ").split()]

def func(x):
    if x % 6 == 0:
        return True
    else:
        return False
     
print(list(filter(func, List)))

[6, 90, 120]

In [12]:
#Q6
List = [x for x in input("ENTER the list of numbers: ").split()]

print(list(filter(lambda x: True if x==x[::-1] else False, List)))

['php', 'aba', 'radar', 'level']