### Tuple

In [68]:
t = ()
id(t)

140551215825008

In [69]:
t = (1, 2, 3, 4, 45, 45.45, 45+7j, "sudh", True)
id(t)

140551128536256

In [70]:
t[::-1]

(True, 'sudh', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [71]:
t[:3]

(1, 2, 3)

In [72]:
t.count(4)

1

In [73]:
for x in t:
    print(x, type(x))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
45 <class 'int'>
45.45 <class 'float'>
(45+7j) <class 'complex'>
sudh <class 'str'>
True <class 'bool'>

In [74]:
t2 = tuple([x for x in range(1,6)])

In [75]:
t2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [76]:
t2

(1, 2, 3, 4, 5)

In [77]:
max(t2)

5

In [78]:
min(t2)

1

In [79]:
2 in t

True

In [80]:
3 in t

True

In [81]:
12 in t

False

In [82]:
l = [1, 2, 3, 4]
l.extend((4, 2, 3))
l

[1, 2, 3, 4, 4, 2, 3]

### Set

In [83]:
S1 = {1, 3, 4, "Sudh", (123)}

In [84]:
for x in S1:
    print(x)

1
3
4
123
Sudh

In [85]:
S1.clear()

In [86]:
S8 = {1, 2, 3, 4}
S9 = {1, 2, 3, 5}

In [87]:
S8.difference(S9)

{4}

In [88]:
S9.difference(S8)

{5}

In [89]:
s = {}
type(s)

dict

In [90]:
s1 = {1, 2, 2, 12, 1, 123, 123}
s1

{1, 2, 12, 123}

In [91]:
l = list(s1)
l

[1, 2, 123, 12]

In [92]:
tuple(s1)

(1, 2, 123, 12)

In [93]:
set(l)

{1, 2, 12, 123}

### Dictionary

In [94]:
d = {1, 2, 3}
type(d)

set

In [95]:
d1 = {"name": "Sudh", "email_id": "ss@gmail.com", "number":234234}
type(d1)

dict

In [96]:
d2 = {"name": "sudh", "name":"Sudhanshu", "name":"x"}
d2

{'name': 'x'}

In [97]:
d3 = {234234 : "abc"}
d3

{234234: 'abc'}

In [98]:
d5 = {True : "abc"}
d5

{True: 'abc'}

In [99]:
d6 = { x :"abc"}
d6

{'Sudh': 'abc'}

In [100]:
d7 = {"course_name":["Data Science Masters", "Web Dev", "Java with DSA and System Design"]}
d7

{'course_name': ['Data Science Masters',
  'Web Dev',
  'Java with DSA and System Design']}

In [101]:
d8 = {"key":{"name":"Sudh", "Class":"DSM"}}
d8

{'key': {'name': 'Sudh', 'Class': 'DSM'}}

In [102]:
d9 = {"batch_name":["Data Science Masters", "Web Dev", "JDS"], "Start_Date":(28, 14, 21), "mentor_name":{"Krish Naik", "Anurag", "Haider"}}
d9

{'batch_name': ['Data Science Masters', 'Web Dev', 'JDS'],
 'Start_Date': (28, 14, 21),
 'mentor_name': {'Anurag', 'Haider', 'Krish Naik'}}

In [103]:
d9["batch_name"]

['Data Science Masters', 'Web Dev', 'JDS']

In [104]:
type(d9["mentor_name"])

set

In [105]:
d9["name"]="Debanjan"

In [106]:
d9["name"].upper()

'DEBANJAN'

In [107]:
d9["x"]

KeyError: 'x'

In [ ]:
d9.keys()

['batch_name', 'Start_Date', 'mentor_name', 'name']

In [ ]:
d9.values()

dict_values([['Data Science Masters', 'Web Dev', 'JDS'], (28, 14, 21), {'Anurag', 'Krish Naik', 'Haider'}, 'Debanjan'])

In [ ]:
list(d9.items())

[('batch_name', ['Data Science Masters', 'Web Dev', 'JDS']),
 ('Start_Date', (28, 14, 21)),
 ('mentor_name', {'Anurag', 'Haider', 'Krish Naik'}),
 ('name', 'Debanjan')]

In [ ]:
d10 = d9.copy()
id(d10)

140551129076608

In [ ]:
id(d9)

140551128748480

In [ ]:
d11 = d9
id(d11)

140551128748480

In [ ]:
d10

{'batch_name': ['Data Science Masters', 'Web Dev', 'JDS'],
 'Start_Date': (28, 14, 21),
 'mentor_name': {'Anurag', 'Haider', 'Krish Naik'},
 'name': 'Debanjan'}

In [ ]:
d10.pop("Start_Date")

(28, 14, 21)

In [ ]:
d10

{'batch_name': ['Data Science Masters', 'Web Dev', 'JDS'],
 'mentor_name': {'Anurag', 'Haider', 'Krish Naik'},
 'name': 'Debanjan'}

In [ ]:
del d

In [108]:
d = {}
d.fromkeys([1, 2, 3],("abc"))

{1: 'abc', 2: 'abc', 3: 'abc'}

In [109]:
d19 = {"Key1": "Value1", "Key2":"Value2", "Key3":"Value3", "Key4":"Value4"}
d20 = {"Key1": "value_1", "Key2":"value_2"}

In [111]:
d19.update(d20)
d19

{'Key1': 'value_1', 'Key2': 'value_2', 'Key3': 'Value3', 'Key4': 'Value4'}

In [112]:
d20.update(d19)
d20

{'Key1': 'value_1', 'Key2': 'value_2', 'Key3': 'Value3', 'Key4': 'Value4'}

In [113]:
d20

{'Key1': 'value_1', 'Key2': 'value_2', 'Key3': 'Value3', 'Key4': 'Value4'}

In [114]:
d20.get("Key1")

'value_1'

In [118]:
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [123]:
import math

d21 = {i: math.log10(i) for i in range(1,11)}

In [125]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [124]:
[d21[x] for x in d21 if x%2 == 0]

[0.3010299956639812,
 0.6020599913279624,
 0.7781512503836436,
 0.9030899869919435,
 1.0]

In [129]:
for x in d21.keys():
    if x%2 == 0:
        print(d21[x])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0